<footer class="site-footer h-card" id="footer" style="scroll-margin-top: 20px">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>

    <div class="wrapper">
        {%- comment -%}{%- if page.url == '/' -%}
            <div class="footer-col-wrapper" style="margin: -20px 0 0">
                <p style="margin: auto; text-align: center">&#x25B2;</p>
            </div>
        {%- endif -%}{%- endcomment -%}

        <div class="footer-col-wrapper">
            <div class="footer-col">
                {%- if site.author %}
                <ul class="contact-list">
                    {% if site.author.name -%}
                    <li class="p-name">{{ site.author.name | escape }}</li>
                    {% endif -%}
                    {% if site.author.email -%}
                    <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
                    {%- endif %}
                </ul>
                {%- endif %}
            </div>
            <div class="footer-col">
                <div class="social-links">
                    {%- comment -%}{%- include social.html -%}{%- endcomment -%}
                    this website was lovingly crafted with <em>zero</em> javascript.
                    <div style="margin-left: 2em; font-size: 85%; font-family: monospace; font-style: italic">
                        purge all javascript<br>
                        evil begone forever<br>
                        static sites prevail
                    </div>
                    a haiku. (i don't actually hate javascript.)
                </div>
            </div>
        </div>

        {%- comment -%}{%- if page.url == '/' -%}
            <div class="footer-col-wrapper" style="padding: 800px 0 0 0">
                <p>easter egg! &#128075; this padding is here to make the "contact" redirect look nicer &#128523;</p>
            </div>
        {%- endif -%}{%- endcomment -%}
    </div>
</footer>
