---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

figure {
  text-align: center;
  font-style: italic;
  color: $lm-brand-color-dark;
  margin: 2em auto;
}
