---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.figure {
  margin: 2em auto;
}

img.figure {
  display: block;
}

.figure + em, .figcaption {
  display: block;
  margin: -1.5em auto 2em;
  text-align: center;
  color: $lm-brand-color-dark;
}
